<h1>Administracija kategorij</h1>
<p>
	<% for category in @categories %>
		<% if category.root? %>
		<li><%= link_to h(category.name), admin_category_path(category) %>
			<small>[<%= link_to 'Uredi', edit_admin_category_path(category) %>]</small>
			<% if category.children.empty? && category.products.empty? %>	
				<small>[<%= link_to 'Izbriši', [:admin, category], :confirm => 'Ali ste prepričani?', :method => :delete %>]</small>
			<% end %>
		</li>
		<% end %>
	<% end %>
</p>

<b><%= link_to 'Nova kategorija', new_admin_category_path%></b>
<h2>Uredi vrstni red kategorij ( drag & drop )</h2>
<%= sortable_categories(Category, {:controller => :categories, :action => :update_positions}) %>



