<h1>Nova kategorija</h1>

<% form_for([:admin, @category]) do |f| %>

  <%= f.error_messages %>
 
  <%= f.hidden_field :parent_id %>
  <p>
    <%= f.label :ime %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Ustvari" %>
  </p>
<% end %>

<%= link_to 'Nazaj', admin_categories_path %>