<p>
  <b><%=h @category.name %></b>
</p>

<p>
	<% for subcategory in @subcategories %>
	<%= link_to h(subcategory.name), category_path(subcategory) %>
	<% end %>
</p>

<% unless @products.empty? %>
	<h2>Izdelki</h2>
	<p>
		<% for product in @products %>
		<p>
			<b><%= link_to h(product.name), product %></b>
			<%= product.price %> EUR
		</p>
		<% end %>
	</p>
<% else %>
	<h2>V tej kategoriji še ni izdelkov.</h2>
<% end %>
	
<%= link_to 'Nazaj', categories_path %>
