<h1>Katalog vseh izdelkov</h1>

<table>
  <tr>
    <th>Izdelek</th>
    <th>Cena</th>
	<th>Admin</th>
  </tr>

<% for product in @products %>
  <tr>
    <td><%= link_to h(product.name), product %></td>
    <td><%=h product.price %> EUR</td>
	
	<% if logged_in? %>
    	<td><%= link_to 'Uredi', edit_product_path(product) %></td>
    	<td><%= link_to 'Izbriši', product, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<% if logged_in? %>
	<%= link_to 'Nov izdelek', new_product_path %>
<% end %>
