<h1>New product</h1>

<<<<<<< HEAD:app/views/products/new.html.erb
<% form_for @product, :html => { :multipart => true } do |f| %>
=======
<% form_for(@product, :html => { :multipart => true }) do |f| %>
>>>>>>> ab1267b373406852d3a6dd84af7637dbd8a1d62b:app/views/products/new.html.erb
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :category %><br />
     <%= hidden_field_tag "product[category_ids][]", "" %>
<% for category in @categories %>
<div>
    <%= check_box_tag "product[category_ids][]", 
        category.id, @product.categories.include?(category) %>
    <%= category.name %>
</div>
<% for cat in category.children %>
<div>
    &nbsp;&nbsp;<%= check_box_tag "product[category_ids][]", 
        cat.id, @product.categories.include?(cat) %>
    <%= cat.name %>
</div>

<% end %>
<% end %>

  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
	<p>
		<%= f.label :slika %><br />
		<%= f.file_field :image %>
	</p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>


  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', products_path %>
