<% content_tag("h2", @product.name) %>
 
<%= image_tag @product.image.url(:thumb) %>
 
<%= simple_format h(@product.description) %>
 
<p>
  <strong>Price:</strong>
  <%= @product.price %> EUR
</p>

<p>
  <b>Kategorija:</b>
  <%=h @product.categories.first.name %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
