<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Lekarnar 2.0</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="Small Corporation" />
	<meta name="keywords" content="small, corporation" />
	<%= stylesheet_link_tag 'style' %>
	<%= javascript_include_tag	:all %>
</head>
<body>
	<div id="content">
		<div id="top">
			
		</div>
	
		<div id="logo">
		
		</div>

		<ul id="menu">
			<li class="domov"><%= link_to 'Domov', products_path %></li>

			<% unless logged_in? %>
				<li><%= link_to 'Prijava', '/login' %>
			<% end %>
			
		</ul>
		
		<div id="main">
			<%= yield %>
		</div>
			
		<div id="sidebar">
			<div class="nav">
			<% if logged_in? && current_user.has_role?('admin') -%>
				<h2>Administracija</h2>
				<p>Prijavljeni ste kot uporabnik <b><%= current_user.login %>.</b></p>
				<li><%= link_to 'Odjava', '/logout' -%></li>
				<li><%= link_to 'Kategorije', admin_categories_path %></li>
				<li><%= link_to 'Uporabniki', admin_users_path %></li>
			<% end %>
			
			<h2>Katalog</h2>
				<%= render :partial => 'shared/menu', :collection => Category.roots %>
			</div>
			<div class="cart">
				<h3>Košarica</h3>
				<%= image_tag "Shoppingcart_48x48.png" %>
				<% if @cart %> 
					<div id="shopping_cart"> 
						<%= render :partial => "cart/cart" %> 
					</div> 
				<% end %> 
				
			</div>
		</div>

		<div id="line"></div>
			
		<div id="footer">
			
		</div>	
	</div>
</body>
</html>